* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Noto Sans';
    padding: 10px;
    background: whitesmoke;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    text-align: center;
    background: white;
    overflow: hidden;
  }

  h2 {
    text-align: center;
  }

  h2.pub_year {
    text-align: right;
    font-weight: bold;

  }
  .header img {
      float:left;
      width: 30%;
  }
  
  .header h1 {
    font-size: 50px;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: white;
    list-style:none;
    text-align:center;
    font-size: 15pt;
    font-weight: bold;
}
    .topnav li {
        display:inline;
    }
  
  a {
    color: #1b7385;
    text-decoration: none;
  }

  /* Style the topnav links */
  .topnav a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  
  
  /* Change color on hover */
   a:hover {
    background-color: #b0e4ef;
    color: black;
  }




  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 100%;
    padding: 2% 2%;
  }
  
  .card {
    background-color: white;
  }

  .card .leftcolumn{
    float: left;
    width: 25%;
  }
  /* Right column */
  .card .rightcolumn {
    float: left;
    width: 75%;
    padding-left: 20px;
  }

  p {
    line-height: 2;
  }
  .card .leftcolumn li.twitter {
    list-style-type: none;
    margin-bottom: 10px;
    background-image: url('../img/twitter.svg');
    background-repeat: no-repeat;
    padding: 3px 0px 5px 40px;
  } 
  .card .leftcolumn li.github {
    list-style-type: none;
    margin-bottom: 10px;
    background-image: url('../img/github.svg');
    background-repeat: no-repeat;
    padding: 3px 0 5px 40px;
  }
  
  ul.publication {
    list-style-type: none;
  }

  ul.publication .title {
    font-size: 14pt;
  }

  ul.publication .authors{
    font-style: italic;
  }



  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
   padding: 20px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    overflow: hidden;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: white;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn {   
      width: 100%;
      padding: 0;
    }
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
    .card .leftcolumn {   
      width: 100%;
      padding: 0;
    }
    .card .rightcolumn {
        width: 100%;
        padding: 0;
    }
    .header img {
        float:none;
    }
    
    h2.pub_year {
      text-align: center;
  
    }

  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }

    .header img {
        float:none;
    }
  }