
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('raleway-v18-latin-regular.woff2') format('woff2'),
       url('raleway-v18-latin-regular.woff') format('woff'); 
}


body {
  background: whitesmoke;
  font-family: "Raleway";
  font-size: 1.25em;
  line-height: 1.5;

}

.header {
  background: white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

}

.header_img {
  width: 30vw;
  float:left;
  display: block;
}

.header_img > img {
  width: 100%;
}

.header_text {
  display: inline-block;
  width: 30vh;
  padding-left: 5vh;
  height: 100%;
  text-align: center;
  
}

.header_text h1 {
  font-size: 2em;
  font-weight: normal;
}



.contentblock {
  background: white;
}

.contentblock > h1 {
  text-align: center;
  font-size: 1.5em;
  font-weight:  normal;
}

.contentblock > h2 {
  font-size: 1.3em;
  font-weight: normal;
}

.contentblock  a {
    color: #1b7385;
    text-decoration: none;
}

.contentblock a:hover {
  background-color: #b0e4ef;
  color: black;
}



.topnav {
  overflow: hidden;
  background-color: white;
  list-style:none;
  text-align:center;
}

.topnav li {
  display:inline;
}
  
.topnav a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin-left: 5%;
  margin-right: 5%;
  color: black;
  font-size: 1.6em;
}

.topnav a:visited {
  color: black;
}




.footer {
  background: white;
  text-align: center;

}

.ptitem {
  margin-left: 5vw;
  margin-bottom: 2vh;
}



.ptitem .ptlink{
  display: block;
}

.ptitem .ptauthors  {
  margin: 0;
  /* font-style: italic; */
  font-size: 0.9em;
}
.ptitem .ptconference  {
  margin: 0;
  font-style: italic;
  font-size: 0.9em;
}

.ptitem .ptinfo {
  margin: 0;
  font-size: 0.9em;
}


.header, .footer, .contentblock, .topnav {
  max-width: 900px;
  margin: 3vw auto;
  padding: 1vw;
}